<div id="<%= dom_id presence %>">
  <p>
    <strong>Kio room:</strong>
    <%= presence.kio_room_id %>
  </p>

  <p>
    <strong>Kio device:</strong>
    <%= presence.kio_device_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= presence.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= presence.end_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= presence.duration %>
  </p>

</div>
