<div class="container-fluid">
  <h1>Presences</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Kio room</th>
        <th>Kio device</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Duration</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @presences.each do |presence| %>
        <tr>
          <td><%= link_to presence.room.name, presence.room %></td>
          <td><%= link_to presence.device.name, presence.device %></td>
          <td><%= presence.start_time %></td>
          <td><%= presence.end_time %></td>
          <td><%= presence.duration %></td>
          <td><%= link_to 'Show', presence %></td>
          <td><%= link_to 'Edit', edit_presence_path(presence) %></td>
          <td><%= link_to 'Destroy', presence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Presence', new_presence_path, class: "btn btn-primary" %>
</div>
