<div id="<%= dom_id position %>">
  <p>
    <strong>Kio room:</strong>
    <%= position.kio_room_id %>
  </p>

  <p>
    <strong>X:</strong>
    <%= position.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= position.y %>
  </p>

  <p>
    <strong>Last update:</strong>
    <%= position.last_update %>
  </p>

</div>
