<div id="<%= dom_id device %>">
  <p>
    <strong>Client:</strong>
    <%= device.client_id %>
  </p>

  <p>
    <strong>Kio device:</strong>
    <%= device.kio_device_id %>
  </p>

  <p>
    <strong>Unique:</strong>
    <%= device.unique_id %>
  </p>

  <p>
    <strong>Device type:</strong>
    <%= device.device_type %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= device.model %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= device.product %>
  </p>

  <p>
    <strong>Firmware:</strong>
    <%= device.firmware %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= device.order_id %>
  </p>

</div>
