<h2>Device: <%= device.unique_id %></h2>
<div class="row">
  <div class="col">
    <p>
      <strong>Client:</strong>
      <%= link_to device.client.name, device.client %>
    </p>
    <p>
      <strong>Kio device:</strong>
      <%= device.kio_device_id %>
    </p>
    <p>
      <strong>Order ID</strong>
      <%= device.order_id %>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>MAC:</strong>
      <%= device.mac&.downcase %>
    </p>
    <p>
      <strong>Device type:</strong>
      <%= device.device_type %>
    </p>
    <p>
      <strong>Model:</strong>
      <%= device.model %>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>Product:</strong>
      <%= device.product %>
    </p>
    <p>
      <strong>Firmware:</strong>
      <%= device.firmware %>
    </p>
    <p>
      <strong>Battery Level:</strong>
      <%= device.battery_level %>
    </p>
  </div>
  <div class="col">
    <p>
    </p>
  </div>
  <div class="col">
    <p>
      <u>Log into <%= device.client.name %> first..</u>
    </p>
    <p>
      <strong>Device Management Link:</strong>
      <%= link_to device.unique_id,
      "https://app.cloud.us.kontakt.io/device-management/devices/beacon/" +
      device.unique_id + "/general",
      target: "top" %>
    </p>
    <p>
      <strong>Smart Location Link:</strong>
      <%= link_to device.unique_id,
      "https://app.cloud.us.kontakt.io/smart-location/device/" +
      device.unique_id,
      target: "top" %>
    </p>
  </div>
</div>
