<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= link_to "All", devices_path(@client) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to "Gateways", devices_path(@client, gateways: true) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to "Portal Beams", devices_path(@client, beams: true) %></li>
  </ol>
</nav>
<div class="row">
  <div class="col">
    <h4>Device Types</h4>
    <%= pie_chart @devices.group(:product).count %>
  </div>
  <div class="col">
    <h4>By Firmware</h4>
    <%= pie_chart @devices.group(:firmware).count %>
  </div>
  <div class="col">
    <h4>By Battery</h4>
    <%= pie_chart @devices.group(:battery_level).count %>
  </div>
  <div class="col">
    <h4>By Order</h4>
    <%= pie_chart @devices.group(:order_id).count %>
  </div>
</div>
<div class="container-fluid">
  <h1>Devices</h1>
  <table class="table" id="devices">
    <thead>
      <tr>
        <th>Client</th>
        <th>Kio device</th>
        <th>Unique ID</th>
        <th>Device type</th>
        <th>Last Seen</th>
        <th>Product</th>
        <th>Firmware</th>
        <th>Battery</th>
        <th>Order</th>
      </tr>
    </thead>
    <tbody>
      <% @devices.each do |device| %>
        <tr>
          <td><%= link_to device.client.name, device.client %></td>
          <td><%= device.mac.downcase %></td>
          <td><%= link_to device.unique_id, device %></td>
          <td><%= device.device_type %></td>
          <td><%= kio_date_time device.last_seen %></td>
          <td><%= device.product %></td>
          <td><%= device.firmware %></td>
          <td><%= device.battery_level %></td>
          <td><%= device.order_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
<script>
  $(document).ready(function () {
   $('#devices').DataTable({
    "dom": '<"top"i>frtlp<"bottom"><"clear">',
    pageLength: 50
   });
      });
</script>
