<div class="container-fluid">
  <h1>Devices</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Client</th>
        <th>Kio device</th>
        <th>Unique ID</th>
        <th>Device type</th>
        <th>Model</th>
        <th>Product</th>
        <th>Firmware</th>
        <th>Battery</th>
        <th>Deployed</th>
        <th>Order</th>
      </tr>
    </thead>
    <tbody>
      <% @devices.each do |device| %>
        <tr>
          <td><%= link_to device.client.name, device.client %></td>
          <td><%= device.mac %></td>
          <td><%= device.unique_id %></td>
          <td><%= device.device_type %></td>
          <td><%= device.model %></td>
          <td><%= device.product %></td>
          <td><%= device.firmware %></td>
          <td><%= device.battery_level %></td>
          <td><%= device.deployment_status %></td>
          <td><%= device.order_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
  <%== pagy_bootstrap_combo_nav_js(@pagy) %>
</div>
