<%= form_tag(client_devices_path(@client), method: 'get') do %>
  <%= label_tag(:last_seen, "Last Seen (days):") %>
  <%= text_field_tag(:last_seen, @last_seen) %>
  <%= select_tag(:device_type,
      options_for_select([['All', 1], ['Gateways', 2],
      ['Portal Beams', 3], ['Beacons', 4], ['Tags', 5]],
      selected: @device_type)) %>
  <%= submit_tag("Filter") %>
<% end %>
<div class="row pt-5">
  <% pie_height = "200px" %>
  <div class="col">
    <h4>Device Types</h4>
    <%= pie_chart @devices.group(:product).count, height: pie_height %>
  </div>
  <div class="col">
    <h4>Firmware</h4>
    <%= pie_chart @devices.group(:firmware).count, height: pie_height %>
  </div>
  <div class="col">
    <h4>Battery Level</h4>
    <%= pie_chart @devices.group(:battery_level).count, height: pie_height %>
  </div>
  <div class="col">
    <h4>Order ID</h4>
    <%= pie_chart @devices.group(:order_id).count, height: pie_height %>
  </div>
</div class="pb-3">
<h4>Last seen</h4>
<%= column_chart @devices.group_by_day(:last_seen).count, height: "100px"  %>
<%= render partial: 'devices_table', locals: { devices: @devices } %>
