<%= render @device %>
<div>
  <%= link_to "All devices", client_devices_path(@device.client) %>
  <div class="pt-2 text-center">
    <%= link_to "Update presence", update_presence_device_path(@device), class: "btn btn-success"  %>
    <%= link_to "Delete presence data (careful!)", delete_presence_device_path(@device), class: "btn btn-danger" %>
  </div>
</div>
<%= render partial: 'presences/presence_table', locals: { presences: @device.presences } %>
<h3>Device Debugging</h3>
<%= link_to "Debug device", debug_device_path(@device), class: "btn btn-warning"  %>
<p class="pt-2">
  <% unless @device.position_debugging.blank? %>
    <%== simple_format bash_to_html_colors(( @device.position_debugging)) %>
  <% end %>
</p>
