<div id="<%= dom_id telemetry %>">
  <p>
    <strong>Tracking:</strong>
    <%= telemetry.tracking_id %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= telemetry.timestamp %>
  </p>

  <p>
    <strong>Battery level:</strong>
    <%= telemetry.battery_level %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= telemetry.channel %>
  </p>

  <p>
    <strong>Humidity:</strong>
    <%= telemetry.humidity %>
  </p>

  <p>
    <strong>Light:</strong>
    <%= telemetry.light %>
  </p>

  <p>
    <strong>Rssi:</strong>
    <%= telemetry.rssi %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= telemetry.temperature %>
  </p>

  <p>
    <strong>Air quality:</strong>
    <%= telemetry.air_quality %>
  </p>

  <p>
    <strong>Firmware:</strong>
    <%= telemetry.firmware %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= telemetry.model %>
  </p>

  <p>
    <strong>Moving:</strong>
    <%= telemetry.moving %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= telemetry.client_id %>
  </p>

</div>
