<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Api key:</strong>
    <%= client.api_key %>
  </p>

  <p>
    <strong>User:</strong>
    <%= client.user %>
  </p>

  <p>
    <strong>Pass:</strong>
    <%= client.pass %>
  </p>

</div>
