<div class="row">
  <div class="col">
    <p>
      <strong>Building:</strong>
      <%= building.kio_building_id %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= building.name %>
    </p>
    <p>
      <strong>Address:</strong>
      <%= building.address %>
    </p>
    <p>
      <strong>Client:</strong>
      <%= link_to building.client.name, building.client %>
    </p>
    <p>
      <strong>Floors:</strong>
      <ul>
        <% building.floors.order(:name).each do |floor| %>
          <li><%= link_to floor.name, floor %></li>
        <% end %>
      </ul>
    </p>
  </div>
  <div class="col">
    <%= render partial: 'map', locals: { building: building } %>
  </div>
</div>
