<div id="<%= dom_id building %>">
  <p>
    <strong>Building:</strong>
    <%= building.building_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= building.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= building.address %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= building.client_id %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= building.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= building.lng %>
  </p>

</div>
