<div class="container-fluid">
  <h1>Buildings</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Building</th>
        <th>Name</th>
        <th>Address</th>
        <th>Client</th>
        <th>Floors</th>
      </tr>
    </thead>
    <tbody>
      <% @buildings.each do |building| %>
        <tr>
          <td><%= building.kio_building_id %></td>
          <td><%= link_to building.name, building %></td>
          <td><%= link_to building.client.name, building.client %></td>
          <td><%= building.address %></td>
          <td><%= link_to building.floors.size.to_s, floors_path(building.floors) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Building', new_building_path, class: "btn btn-primary" %>
</div>
