<div class="container-fluid">
  <h1>Floors</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Client</th>
        <th>Floor</th>
        <th>Name</th>
        <th>Building</th>
        <th>Rooms</th>
      </tr>
    </thead>
    <tbody>
      <% @floors.each do |floor| %>
        <tr>
          <td><%= link_to floor.building.client.name, floor.building.client %></td>
          <td><%= floor.kio_floor_id %></td>
          <td><%= link_to floor.name, floor %></td>
          <td><%= link_to floor.building.name, floor.building %></td>
          <td><%= link_to floor.rooms.size.to_s, rooms_path(floor.rooms) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Floor', new_floor_path, class: "btn btn-primary" %>
</div>
