<div class="container-fluid">
  <h1>Rooms</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Client</th>
        <th>Room #</th>
        <th>Name</th>
        <th>Floor</th>
        <th>Building</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= link_to room.client.name, room.client %></td>
          <td><%= room.kio_room_id %></td>
          <td><%= room.name %></td>
          <td><%= link_to room.floor.name, room.floor %></td>
          <td><%= link_to room.floor.building.name, room.floor.building %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Room', new_room_path, class: "btn btn-primary" %>
</div>
